body {
    height: 100%;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    color: white;
    z-index: 2;
    overflow: scroll;
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
}

div {
    border: 0 solid red;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: white;
    transition: background-color 0.1s;
}

.mylink a:hover, .mylink a:active {
    text-decoration: none;
    background-color: rgba(202, 255, 112, 0.5);
    transition: background-color 0.1s;
}

hr {
    margin: 5px;
    border-color: #444444;
}

h1{
    font-size: 30pt;
}

.background-image {
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: url("https://i.ytimg.com/vi/lKCzuS46fTM/maxresdefault.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;
    top: 0;
    left: 0;
}

.howtoplay-section {
    padding-top: 90px;
    text-align: center;
    background: rgba(20, 20, 20, 1);
    height: 100%;
}

.media-section {
    padding-top: 90px;
    text-align: center;
    background: rgba(20, 20, 20, 1);
    height: 100%;
}

.features-section {
    padding-top: 90px;
    text-align: center;
    background: rgba(20, 20, 20, 1);
    height: 100%;
}

.team-section {
    padding: 90px 0 200px 0;
    text-align: center;
    background: rgba(20, 20, 20, 1);
    width: 100%;
}

.text-color-green {
    color: rgb(0, 230, 118);
}

.text-color-red {
    color: #c9302c;
}

.container{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

@media all and (max-width: 705px) {
    #how2play h1, #media h1, #features h1, #team h1{
        padding-top: -150px;
        margin-top: 150px;
    }
}