.navbar-container{
    background: rgba(0,0,0,0.9);
    border: none;
    left: 3%;
    right: 3%;
    position: fixed;
    z-index: 1000;
}

.fel-navbar {
    font-size: 20pt;
    transition: all 1s ease-in-out;
    font-weight: 300;
}

.fel-navbar > div{
    display: inline-block;
    border: none;
}

.fel-navbar > div > a{
    padding: 10px;
}

.fel-title{
    text-transform: uppercase;
    font-weight: 200;
    font-size: 0;
    padding: 0 20px 0 20px;
    background: none;
    float: left;
    transition: all 1s ease-in-out;
}

.logo{
    width: 60px;
    padding: 5px;
    transition: all 1s;
}

.nav-scrolled-top{
    background: none;
}

.nav-scrolled-top .fel-title{
    font-size: 50pt;
    left: 10%;
    position: fixed;
    background: none;
    transition: all 1s ease-in-out;
}

.nav-scrolled-top .fel-navbar {
    font-weight: 100;
    position: fixed;
    font-size: 40pt;
    bottom: 30px;
    left: 10%;
    transition: all 1s ease-in-out;
}

.nav-scrolled-top .logo{
    width: 100px;
    transition: all 1s;
    margin-right: 20px;
    margin-top: -12px;
}

.nav-scrolled-top .mylink a{
}