@media (min-width: 767px) {
    .navbar {
        background: url("../assets/navbar-background.jpg");
        background-size: cover;
        height: 100%;
        padding: 40px 0;
        -webkit-transition: background .5s ease-in, padding .5s ease-in-out;
        -moz-transition: background .5s ease-in, padding .5s ease-in-out;
        transition: background .5s ease-in, padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }

    .felcraft-moving {
        height: 530px;
        max-height: 530px;
        transition: max-height 1.5s ease-in-out, font 2s;
        transition-delay: 1s;
    }

    .decrease-div, .decrease-div > .navbar-brand {
        max-height: 0;
        font-size: 20pt;
        transition: max-height 1.25s ease-out, font 2s;
    }

    .top-nav-collapse {
        height: 50px;
    }

    .navbar-nav {
        font-size: 15pt;
    }

    .navbar-brand {
        font-size: 50pt;
        -webkit-transition: font 2s;
        -moz-transition: font 2s;
        -ms-transition: font 2s;
        -o-transition: font 2s;
        transition: font 2s;
        transition-delay: 1s;
    }
}

.navbar {
    -webkit-transition: height 1.5s ease-in-out, padding 1s ease-in-out; /* Safari */
    transition: height 1.5s ease-in-out, padding 1s ease-in-out;
    color: white !important;
    border: 0 !important;
    background-color: #444444;
}

.navbar > .container{
    margin-left: 4% !important;
    margin-right: 0 !important;
}

.navbar-brand{
    text-transform: uppercase;
    font-weight: 100;
}

.navbar-link {
    font-weight: 100;
}

.navbar-link-top {
    font-size: 40pt;
    transition: font 2s ease;
    padding: 25px !important;
}

.navbar-link-scrolled {
    font-size: 20pt;
    transition: font 2s ease;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: rgba(0,230,118, 0.5);
}

.navbar-default .navbar-nav > li > a:hover {
    background-color: rgba(0,230,118, 0.5);
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: rgba(0,230,118, 0.5);
    }
}



