.carousel{
    min-height: 400px;
}
.carousel .item{
    padding: 20px;
    margin: 0 auto; /* Align slide image horizontally center */
}

.carousel .item:hover{
    background-color: rgba(0,0,0,0.1);
    cursor: pointer;
}

.slider {
    margin: 20px;
    height: 100%;
}
.carousel-control{
    background: none;
}

.carousel-indicators{
    bottom: -25px;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
}