.site-background{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    content: '';
    background: url("https://theothertank.files.wordpress.com/2011/07/region-nagrand-full.jpg");
    background-size: cover;
    background-position: center;
}

/*.left-side{*/
    /*position: fixed;*/
    /*background: url("../assets/bloodelf.png");*/
    /*background-size: contain;*/
    /*background-repeat: no-repeat;*/
    /*background-position: left center;*/
    /*top: 120px;*/
    /*left: 10px;*/
    /*width: 20vw;*/
    /*height: 100vh;*/
/*}*/

/*.right-side{*/
    /*position: fixed;*/
    /*background: url("../assets/human_mage.png");*/
    /*background-size: contain;*/
    /*background-repeat: no-repeat;*/
    /*background-position: right center;*/
    /*top: 120px;*/
    /*right: 10px;*/
    /*width: 20vw;*/
    /*height: 100vh;*/
/*}*/
