.dashboard-section .container{
    flex-flow: column;
    height: 100%;
    border: 0;
}

.dash-container {
    position: relative;
    padding: 50px;
    margin: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.dash-title {
    font-size: 60pt;
    text-align: center;
    padding: 10px;
}

.dash-content {
    font-size: 25pt;
    text-align: center;
}

.dash-button {
    font-size: 40pt;
    padding: 25px;
    border-radius: 5px;
}

.dash-footer {
    font-size: 15pt;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.footer-content {
    display: flex;
}

.footer-content div {
    padding: 20px;
}

.extra-links a {
    padding: 10px;
}

.play {
    position: absolute;
    bottom: 15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent transparent yellowgreen;
    border-width: 10px 10px 10px 12px;
    margin: 8px 0 0 11px;
}

.pause{
  position: absolute;
  bottom: 15px;
    width: 2px;
    height: 16px;
    border-top: none;
    border-bottom: none;
    margin: 8px 0 0 11px;
}
