.features-section .container {
    padding-top: 40px;
    padding-bottom: 40px;
    display: block;
    justify-content: center;
}

.features-news {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 0;
    width: 100%;
}

.features-item {
    padding: 15px;
    margin: 0;
}

.features-title {
    font-size: 25pt;
    padding: 20px 0;
    text-align: center;
}

.features-content {
    background: rgba(30,30,30,1);
    width: 700px;
    display: flex;
    flex-flow: column;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-top: thin solid yellowgreen;
    margin: auto;
    padding: 30px;
}

.features-text {
    padding: 0 10px;
    flex-grow: 1;
    text-align: left;
}

.features-img img {
    flex-grow: 1;
    height: auto;
    width: 100%;
    padding-bottom: 20px;
}
