.features-section .container {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.feature-item {
    padding: 15px;
    margin: 0;
}

.feature-title {
    font-size: 25pt;
    padding: 20px 0;
    text-align: center;
}

.feature-content {
    background: rgba(30,30,30,1);
    width: 700px;
    display: flex;
    flex-flow: column;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-top: thin solid yellowgreen;
    margin: auto;
    padding: 30px;
}

.feature-text {
    padding: 0 10px;
    flex-grow: 1;
    text-align: left;
}

.features-img img {
    flex-grow: 1;
    height: auto;
    width: 100%;
    padding-bottom: 20px;
}

.feature-highlight-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 770px;
    margin: auto;
}

.feature-highlight-box{
    width: 246px;
    margin: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-top: thin solid yellowgreen;
    background: rgba(30,30,30,1);
}

.feature-highlight-headline {
    font-size: 25pt;
    padding: 40px;
    height: 90px;
    background: rgba(0,0,0,0.4);
}

.feature-highlight-content{
    padding: 10px 15px;
    margin-top: 20px;
}
.feature-highlight-headline-image{
    background-size: cover;
    margin-top: 4px;
}