.how2play-section .container {
    display: flex;
    flex-flow: column;
}

.play-container{
    margin: 20px 20px;
}

.client-row{
    maring: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.client{
    padding: 30px;
    margin: 20px;
    width: 250px;
}

.client input{
    padding: 10px;
    margin: 5px;
    color: black;
}

.play-container a {
    color: greenyellow;
}

.client a{
    padding-top: 25px;
}