body {
    height: 100%;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    z-index: 2;
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
}

div {
    border: 0 solid greenyellow;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    transition: background-color 0.1s;
}

.mylink a:hover, .mylink a:active {
    text-decoration: none;
    transition: background-color 0.1s;
}

h1 {
    font-size: 30pt;
}

.background-image {
    width: 100%;
    position: fixed;
    background-image: url("https://i.ytimg.com/vi/lKCzuS46fTM/maxresdefault.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    transform: translateZ(-20px) scale(23);
}

.text-uppercase {
    text-transform: uppercase;
}

.how2play-section, .news-section, .features-section, .team-section, .timeline-section {
    text-align: center;
    padding-top: 150px;
    padding-bottom: 150px;
}

.features-section {
    text-align: center;
}

.container {
    width: 70%;
    margin: auto;
    display: block;
    justify-content: center;
    padding: 20px;
}

.flex-column{
    display: flex;
    flex-flow: column;
}

.flex-row-wrap{
    display: flex;
    flex-flow: row wrap;
}
