body {
    height: 100%;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    transition: all 0.5s;
    overflow-x: hidden;
}

html {
    width: 100%;
    height: 100%;
}

div {
    border: 0 solid greenyellow;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    transition: background-color 0.1s;
}

.mylink a:hover, .mylink a:active {
    text-decoration: none;
    transition: background-color 0.1s;
}

h1 {
    font-size: 30pt;
}

hr{
    border-color: yellowgreen;
}

#main{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    z-index: 8;
}

.text-uppercase {
    text-transform: uppercase;
}

.how2play-section,
.news-section,
.features-section,
.team-section,
.timeline-section {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
}

.features-section {
    text-align: center;
    margin-top: 50px;
}

.container {
    z-index: 8;
    max-width: 800px;
    width: 100%;
    margin: auto;
    display: block;
    justify-content: center;
}

.flex-column{
    display: flex;
    flex-flow: column;
}

.flex-row-wrap{
    display: flex;
    flex-flow: row wrap;
}
