@media all and (max-width: 760px) {
    body{
        overflow-y: scroll;
    }

    .fel-navbar {
        overflow: hidden;
        flex-direction: column;
        flex-flow: column;
        height: 0;
        transition: all 1s;
        justify-content: flex-end;
    }

    .fel-navbar a {
        width: 100%;
    }

    #burger {
        display: flex !important;
    }

    .dash-button {
        font-size: 20pt;
    }

    .step-element {
        padding: 30px 20px 30px 20px;
    }

    .news-img{
        max-width: 300px;
        width: 300px;
    }

    .news-content, .content_object, .feature-content, .news-selector, .content_object{
        width: auto; !important;
    }

    .news-video{
        width: 90%;
    }
}