@media all and (min-width: 1200px) {
    .nav-scrolled-top {
        background: none;
        border: none;
    }

    .nav-scrolled-top .fel-navbar {
        position: fixed;
        right: 20px;
        top: 50%;
        margin-top: -150px;

        font-size: 2em;
        text-align: right;

        display: flex;
        flex-flow: column;
        background: none;

        transition: all 0.5s;
    }

    .nav-scrolled-top .arrow-up, .nav-scrolled-top .arrow-link {
        display: none;
        padding: 0;
    }

    .dashboard-section{
        height: 100%;
    }

    .dashboard-section .container{
        width: 100%;
        padding: 0;
        flex-flow: row wrap;
        display: flex;
    }

    .extra-links {
        position: absolute;
        right: 20px;
        bottom: 20px;
        background: transparent;
    }

    .features-section .news-item{
        width: 50%;
    }
}
