.news-section .container {
    padding-top: 40px;
    padding-bottom: 40px;
    display: block;
    justify-content: center;
}

.server-news {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 0;
    width: 60%;
}

.news-item {
    width: 150px;
    height: 150px;
    overflow: hidden;
    padding: 20px;
    margin: 50px 50px;
    background: rgba(90, 90, 90, 0.1);
    border: 2px solid yellowgreen;
}

.news-title {
    font-size: 20pt;
    padding: 5px 0;
    text-align: center;
}

.news-prev{
    padding-top: 20px;
    text-align: left;
}

.news-content {
    display: none;
    margin: 5px;
    flex-flow: column;
    padding: 5px;
}

.news-text {
    padding: 0 10px;
    flex-grow: 1;
    text-align: left;
}

.news-img img {
    flex-grow: 1;
    height: auto;
    width: 100%;
    padding-bottom: 20px;
}
