.news-section .container {
    padding-top: 40px;
    padding-bottom: 40px;
}

.server-news {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
}

.news-item {
    padding: 15px;
    background: rgba(25, 25, 25, 1);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border: thin solid rgba(32,32,32,1);
}

.news-selected{
    background: rgba(35, 35, 35, 1);
    border-bottom: 3px solid  rgba(202, 255, 112, 0.5);
}

.news-selector{
    width: 760px;
    margin: auto;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
}

.news-title {
    font-size: 25pt;
    padding: 0;
    text-align: center;
}

.news-prev{
    padding-top: 20px;
    text-align: left;
}

.news-content {
    display: flex;
    flex-flow: column;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border: thin solid rgba(32,32,32,1);
    padding: 30px;
    margin: auto;
    background: rgba(35,35,35,1);
    width: 700px;

}

.news-content .content_object{
    margin: auto;
    text-align: left;
    width: 700px;
}

.news-content .news-title{
    padding-bottom: 50px;
}

.news-text {
    padding: 0 10px;
    flex-grow: 1;
    text-align: left;
}

.news-img img {
    flex-grow: 1;
    height: auto;
    width: 100%;
    padding-bottom: 20px;
}

.news-video{
    width: 500px;
    height: auto;
}
