.news-section .container {
    padding-top: 40px;
    padding-bottom: 40px;
    display: block;
    justify-content: center;
}

.server-news {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 0;
    width: 100%;
}

.news-item {
    padding: 15px;
    margin: 10px 10px;
    background: rgba(25, 25, 25, 1);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border: thin solid rgba(32,32,32,1);
}

.news-item:hover{
    background: rgba(35,35,35,1);
    cursor: pointer;
}

.news-selected{
    background: rgba(35,35,35,1);
}

.news-item:nth-child(10){
    background: rgba(35,35,35,1);
}

.news-title {
    font-size: 25pt;
    padding: 0;
    text-align: center;
}

.news-prev{
    padding-top: 20px;
    text-align: left;
}

.news-content {
    display: flex;
    flex-flow: column;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border: thin solid rgba(32,32,32,1);
    padding: 30px;
    margin: 10px;
}

.news-content .content_object{
    margin: auto;
    text-align: left;
    width: 500px;
}

.news-content .news-title{
    padding-bottom: 50px;
}

.news-text {
    padding: 0 10px;
    flex-grow: 1;
    text-align: left;
}

.news-img img {
    flex-grow: 1;
    height: auto;
    width: 100%;
    padding-bottom: 20px;
}
