.features-section .container {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.features-section .news-img img{

}

.timeline-part {
    background: rgba(0, 0, 0, 0.5);
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    width: 1000px;
    text-align: left;
}

.s-1{
    background-image: url("../assets/nagrand.jpg");
    background-size: cover;
}

.s-2{
    background-image: url("../assets/zangermarschen.png");
    background-size: cover;
    background-position: bottom;
}
.s-3{
    background-image: url("../assets/kara.jpg");
    background-size: cover;
    background-position: center;


}

.s-4{
    background-image: url("../assets/pooling1.jpg");
    background-size: cover;
    background-position: center;
}

.s-5{
    background-image: url("../assets/gamemaster.jpg");
    background-size: cover;
    background-position: center;
}

.s-6{
    background-image: url("../assets/zulaman.jpg");
    background-size: cover;
    background-position: center;


}

.s-7{
    background-image: url("../assets/zangermarschen.png");
    background-size: cover;
    background-position: center;


}

.timeline-date {
    padding: 20px;
    flex-basis: 90px;
    flex-shrink: 0;
}


.timeline-title {
    font-size: 20pt;
    padding: 20px 0 20px 20px;
}

.timeline-content {
    padding: 20px 0 20px 20px;
    margin: 0;
}

.timeline-content div {
    padding: 5px;
}

.timeline-content .timeline-title{
    font-size: 18pt;
}

.progression {
    content: " ";
    flex-basis: 20px;
    flex-shrink: 0;
    background: rgb a(0, 0, 0, 0.5);
}

.p-1 {
    background: yellowgreen;
}

.p-0 {
    background: black;
}
