.how2play-section .container {
    display: flex;
    flex-flow: column;
    width: 100%;
    padding: 0;
    margin: 0;
}

.step {
    display: flex;
    flex-flow: column;
    background: rgba(90, 90, 90, 0.1);
    padding: 20px;
    text-align: left;
    margin: 5px;
    flex-grow: 1;
}

.step-title {
    font-size: 20pt;
}

.step-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    padding-top: 10px;
}

.step:hover {
    background: rgba(120, 120, 120, 0.2);
}

.step-element {
    margin: 5px;
    padding: 30px;
    background: rgba(90, 90, 90, 0.1);
    font-size: 13pt;
    text-align: left;
}

.step-element a {
    color: greenyellow;
}

.step-element:hover {
    background: rgba(120, 120, 120, 0.3);
}

.step-element input {
    margin-left: 20px;
}

.how2play-submit {
    color: greenyellow;
}

.step-container {
    flex-grow: 1;
    justify-content: flex-start;
    display: flex;
    flex-flow: column;
}

.how2play-footer {
    margin: auto;
    background: rgba(90, 90, 90, 0.1);
    text-align: center;
    font-size: 20pt;
}

#friend{
    padding-top: 60px;
}