@media all and (max-width: 979px) {
    .container {
        width: 100%;
        padding: 0;
        margin: 0;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
    }

    .dash-container {
        width: 100%;
        margin: 0;
        padding: 90px 0 90px 0;
    }

    .dash-title {
        font-size: 3em;
    }

    .dash-content {
        font-size: 15pt;
    }

    .dash-button {
        font-size: 30pt;
        padding: 10px;
    }

    .dash-footer {
        font-size: 12pt;
    }

    .extra-links {
        width: 100%;
        text-align: center;
    }

    .news-section .container {
        flex-flow: column;
    }

    .news-content{
        flex-flow: column;
        padding: 0;
    }

    .server-news {
        margin: auto;
        width: auto;
    }

    .news-item {
        margin: auto;
        width: auto;
        padding: 0;
    }

    .how2play-section .container {
        flex-flow: column;
        flex-shrink: 0;
    }

    .step {
        margin: 5px 0 5px 0;
        width: auto;
    }

    .step-container {
        width: auto;
    }
    .timeline-section{
        width: 100%;
    }
}